<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Szczegóły konta</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <!--/*@thymesVar id="account" type="com.moneyAppV5.account.dto.AccountDTO"*/-->
    <!--/*@thymesVar id="transaction" type="com.moneyAppV5.transaction.dto.TransactionDTO"*/-->
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->

    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <a th:href="@{/moneys}">Strona główna</a>
    <a th:href="@{/accounts}">Powrót do listy kont</a>

    <p>
        <label>Nazwa konta: </label>
        <label th:text="${account.name}"></label>
    </p>
    <p>
        <label>Opis konta: </label>
        <label th:text="${account.description}"></label>
    </p>
    <p>
        <label>Saldo konta: </label>
        <label th:text="${account.actualBalance}"></label>
        <label> [zł]</label>
<!--        TODO przejście do historii zmian stanu konta-->
    </p>

    <div>
        <h1>Saldo</h1>
        <table>
            <tr>
<!--                TODO określenia miesięcy-->
                <td></td><td>Bieżący miesiąc</td><td>Poprzedni</td><td>Jeszcze poprzedni</td><td>Ogółem</td>
            </tr>
            <tr>
                <td>Dochody</td>
                <td th:text="${actualMonthIncome}"></td>
                <td th:text="${actualMonthMinusOneIncome}"></td>
                <td th:text="${actualMonthMinusTwoIncome}"></td>
                <td th:text="${overallIncome}"></td>
            </tr>
            <tr>
                <td>Wydatki</td>
                <td th:text="${actualMonthExpense}"></td>
                <td th:text="${actualMonthMinusOneExpense}"></td>
                <td th:text="${actualMonthMinusTwoExpense}"></td>
                <td th:text="${overallExpense}"></td>
            </tr>
            <tr>
                <td>Saldo</td>
                <td th:text="${actualMonthBalance}"></td>
                <td th:text="${actualMonthMinusOneBalance}"></td>
                <td th:text="${actualMonthMinusTwoBalance}"></td>
                <td th:text="${overallBalance}"></td>
            </tr>
        </table>
    </div>

    <div>
        <h1>Transakcje konta</h1>
        <table>
            <tr>
                <td>Data</td><td>Kwota [zł]</td><td>Kontrahent</td><td>Typ</td><td>Kategoria</td><td>Beneficjent</td><td>opis</td>
            </tr>
            <!--        TODO lista transakcji z danego konta - najlepiej sortowana od najnowszych-->
            <tr th:each="transaction : ${account.transactions}">
                <!--                TODO czemu się nie pojawia data?-->
                <!--                TODO w wolnej chwili dodać opcje filtrowania listy-->
                <td th:text="${transaction.date}" ></td>
                <td th:text="${transaction.amount}"></td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.isPaid.hash})}"
                       th:text="${transaction.isPaid.name}"></a>
                </td>
                <td th:text="${transaction.category.type}"></td>
                <td>
                    <a th:href="@{/categoryView/{hash}(hash=${transaction.category.hash})}"
                       th:text="${transaction.category.category}"></a>
                </td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.isPaid.hash})}"
                       th:text="${transaction.forWhom.name}"></a>
                </td>
                <td th:text="${transaction.description}"></td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>