<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dodawanie transakcji</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<h1 th:if="${message != null}" th:text="${message}"></h1>
<!--/*@thymesVar id="transaction" type="com.moneyAppV5.transaction.dto.TransactionDTO"*/-->
<!--/*@thymesVar id="payee" type="com.moneyAppV5.transaction.Payee"*/-->
<!--/*@thymesVar id="account" type="com.moneyAppV5.account.Account"*/-->
<!--/*@thymesVar id="category" type="com.moneyAppV5.category.Category"*/-->
<!--/*@thymesVar id="t" type="com.moneyAppV5.category.Type"*/-->
<form action="#" method="post" th:action="@{/budgetView/{id}/addTransaction(id=${budgetId})}" th:object="${transaction}">
    <fieldset>
        <input type="hidden" name="budget" th:value="${budget}" th:field="${transaction.budget}">

        <legend>Nowa transakcja</legend>
        <label>Data transakcji
            <!--          <input type="text"  th:field="${transaction.date}" />-->
            <label>Dzień
<!--                <input name="day" type="number" max="31" th:field="${transaction.day}" />-->
                <input name="day" type="number" value="1" min="1" max="31" th:field="${transaction.day}" />
            </label>
<!--            TODO miesiąc numeryczny czy lepiej nazwa?-->
            <label>Miesiąc
                <input name="month" type="number" min="1" max="12" th:field="${transaction.month}" />
            </label>
            <label>Rok
                <input name="year" type="number" maxlength="4" th:field="${transaction.year}" />
            </label>
        </label>
        <label>Konto
            <select th:field="${transaction.account}">
                <option value="0">Proszę wybrać konto</option>
                <option th:each="account : ${accountsList}" th:value="${account.id}" th:text="${account.name}"></option>
            </select>
        </label>
        <label>Kwota transakcji [zł]
            <input type="number" step="0.01" th:field="${transaction.amount}" />
            <!--            <input type="text" th:field="${transaction.amount}" />-->
        </label>
        <!--        <label>Typ transakcji-->
        <!--            <select name="type">-->
        <!--                <option value="0" >Proszę wybrać typ transakcji</option>-->

        <!--                <option th:each="t : ${T(com.moneyAppV5.category.Type).values()}" th:value="${t.name()}" th:text="${t.name}"></option>-->
        <!--            </select>-->
        <!--        </label>-->
        <label>Kategoria transakcji
                    <select name="cat" th:field="${transaction.category}" >
                        <option value="0">Proszę wybrać kategorię</option>
                        <option th:each="category : ${categoriesList}" th:value="${category.id}" th:text="${category.category}"></option>
                    </select>
<!--            <input list="cats" name="catsList" th:field="${transaction.category}" />-->
<!--            <datalist id="cats" >-->
<!--                <option th:each="category : ${categoriesList}" th:value="${category.id}" th:text="${category.category}"></option>-->
<!--            </datalist>-->

        </label>
        <label>Komu płacę:
                        <select name="pays" th:field="${transaction.isPaid}">
                            <option value="0">Proszę wybrać </option>
                            <option th:each="payee : ${isPaidList}" th:value="${payee.id}" th:text="${payee.name}"></option>
                        </select>
<!--            <input list="isPaids" name="isPaidList" th:field="${transaction.isPaid}" />-->
<!--            <datalist id="isPaids" >-->
<!--                <option>Proszę wybrać</option>&ndash;&gt;-->
<!--                <option th:each="payee : ${isPaidList}" th:value="${payee.id}" th:text="${payee.name}" ></option>-->
<!--&lt;!&ndash;                <option th:each="payee : ${isPaidList}" th:text="${payee.name}" th:value="${payee.id}" ></option>&ndash;&gt;-->
<!--            </datalist>-->

        </label>
        <label>Dla kogo:
                        <select name="whoms" th:field="${transaction.forWhom}" >
                            <option value="0">Proszę wybrać</option>
                            <option th:each="payee : ${forWhomList}" th:value="${payee.id}" th:text="${payee.name}"></option>
                        </select>
<!--            <input list="forWhoms" name="forWhomList" th:field="${transaction.forWhom}" />-->
<!--            <datalist id="forWhoms" >-->
<!--                <option>Proszę wybrać</option>-->
<!--                <option th:each="payee : ${forWhomList}" th:value="${payee.id}" th:text="${payee.name}" ></option>-->
<!--            </datalist>-->
        </label>
        <label>Opis transakcji
            <input type="text" th:field="${transaction.description}" />
        </label>
    </fieldset>
    <p>
        <button type="submit">Dodaj</button>
        <button type="reset">Wyczyść</button>
    </p>

</form>
<a th:href="@{/moneys}">Strona główna</a>
<!--    <form action="#" method="get" th:action="@{/budgetView/{id}(id=${budgetId})}">-->
<!--<p>-->
    <a th:href="@{/budgetView/{id}(id=${budgetId})}" >Powrót do budżetu</a>
<!--</p>-->
<!--    </form>-->
<!--    TODO lista transakcji w bieżącymn miesiącu?-->
</body>
</html>