<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista dostępnych budżetów</title>
</head>
<body>
<main>
    <!--/*@thymesVar id="budget" type="com.moneyAppV5.budget.dto.BudgetDTO"*/-->
    <!--/*@thymesVar id="month" type="java.time.Month"*/-->
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <form action="#" method="post" th:action="@{/budgets}" th:object="${budget}">
        <fieldset>
            <legend>Nowy budżet</legend>
            <label>Miesiąc budżetu
                <!--                <select name="months">-->
                <!--                <select name="months" th:field="*{month}">-->
                <!--&lt;!&ndash;                    <option value="0">Proszę wybrać miesiąc</option>&ndash;&gt;-->
                <!--                    <option th:each="month : ${T(java.time.Month).values()}" th:value="${month.name()}" th:text="${month.name()}"></option>-->
                <!--                </select>-->
                <input type="number" th:field="*{month}"/>
            </label>
            <label>Rok budżetu
                <!--                <input type="number" />-->
                <input type="number" th:field="*{year}"/>
            </label>
            <input type="hidden" th:field="*{incomes}"/>
            <input type="hidden" th:field="*{expenses}"/>
<!--            TODO sprawdzenie czy budżet o danym miesiącu i roku już istnieje-->
            <button type="submit">Dodaj budżet</button>
            <button type="reset">Wyczyść</button>
        </fieldset>

        <!--        TODO potrzebny panel tworzenia nowegu budżetu na podstawie podanego miesiąca i roku-->
        <!--        TODO przejście do wybranego budżetu na dany miesiąc-->

    </form>

    <div>
        <h1>Dostępne budżety</h1>
        <table>
            <tr>
                <td>Miesiąc</td><td>Rok</td><td>...</td><td>Opis</td><td>Link</td>
            </tr>
            <tr th:each="budget : ${budgetsList}">
                             <!--                TODO w wolnej chwili dodać opcje filtrowania listy-->
<!--                TODO przy budżecie przycisk/link do przejścia do konkretnego budżetu-->
                <td th:text="${budget.month}" ></td><td th:text="${budget.year}"></td><td>...</td><td th:text="${budget.description}"></td>
                <td>
<!--                    TODO skąd wziąć id? szukanie po miesiącu i roku?-->
                    <a th:href="@{/budgetView/{m}{y}(m=${budget.month})(y=${budget.year})}">Przejdź</a>
<!--                    <a th:href="@{/budgetView/{id}(id=${budgetId})}">Przejdź</a>-->
                </td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>