<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Kategorie</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
    <style>
        .incomeList
        {
            width: 50%;
            float: left;
        }
        .expenseList
        {
            width: 50%;
            float: right;
        }
    </style>

</head>
<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
<!--/*@thymesVar id="category" type="com.moneyAppV5.category.dto.CategoryDTO"*/-->
<form action="#" method="post" th:action="@{/categories}" th:object="${category}">
    <fieldset>
        <legend>Nowa kategoria</legend>
        <label>Choose a browser from this list:
            <input list="browsers" name="myBrowser" /></label>
        <datalist id="browsers">
            <option value="Chrome">
            <option value="Firefox">
            <option value="Internet Explorer">
            <option value="Opera">
            <option value="Safari">
            <option value="Microsoft Edge">
        </datalist>
        <label> Nazwa kategorii
<!--&lt;!&ndash;            <input type="text"  th:field="${category.main}"/>&ndash;&gt;                                                    tu wprowadzanie z input-->
            <!--/*@thymesVar id="main" type="com.moneyAppV5.category.dto.MainCategoryDTO"*/-->
            <input list="mains" name="mainCats" th:field="${category.main}" />
                <datalist id="mains">
                    <option th:each="main : ${mainCategories}" th:value="${main.getMainCategory()}" th:text="${main.mainCategory}"></option>
                </datalist>
        </label>
        <label> Nazwa podkategorii
<!--            <input type="text"  th:field="${category.sub}"/>-->
            <!--/*@thymesVar id="subC" type="com.moneyAppV5.category.dto.SubCategoryDTO"*/-->
            <input list="subs" name="subCats" th:field="${category.sub}" />
            <datalist id="subs">
                <option th:each="subC : ${subCategories}" th:value="${subC.getSubCategory()}" th:text="${subC.subCategory}"></option>
            </datalist>
        </label>
        <label > Typ kategorii
            <select class="form-control" id="typeId" name="type">
                <option value="0" >Wybierz typ kategorii</option>
                <option th:each="t : ${T(com.moneyAppV5.category.Type).values()}" th:value="${t.name()}" th:text="${t.name}"></option>
            </select>
        </label>
        <label> Opis kategorii
            <input type="text"  th:field="${category.description}"/>
        </label>
    </fieldset>
    <p>
        <button type="submit">Dodaj</button>
        <button type="reset">Wyczyść</button>
    </p>

</form>

    <div class="incomeList">
        <p>Dochody</p>
<!--        <ul th:each="cat : ${incomeCategories}">-->
<!--            <li th:text="${cat.toDisplay()}"></li>-->
<!--        </ul>-->
        <!--/*@thymesVar id="cat" type="com.moneyAppV5.category.dto.MainCategoryDTO"*/-->
        <dl th:each="cat : ${incomeCategories}">
            <dt th:text="${cat.getMainCategory()}"></dt>
           <dd>
               <ul>
                   <!--/*@thymesVar id="subC" type="com.moneyAppV5.category.dto.SubCategoryDTO"*/-->
                    <li th:each="subC : ${cat.subCategories}" th:text="${subC.subCategory}"></li>
               </ul>
           </dd>
        </dl>
    </div>
    <div class="expenseList">
        <p>Wydatki</p>
<!--        <ul th:each="cat : ${expenseCategories}">-->
<!--            <li th:text="${cat.toDisplay()}"></li>-->
<!--        </ul>-->
        <dl th:each="cat : ${expenseCategories}">
            <dt th:text="${cat.getSub()}"></dt>
            <dd>
                <ul>
<!--                    <li th:each="sub : ${subCategories}" th:text="sub"></li>-->
                </ul>
            </dd>
        </dl>
    </div>
</main>
</body>
</html>