<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beneficjenci</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
    <style>

    </style>
</head>
<body>
<main>
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <h1 th:if="${message != null}" th:text="${message}"></h1>
    <!--/*@thymesVar id="gainer" type="com.moneyAppV5.transaction.dto.GainerDTO"*/-->
    <form action="#" method="post" th:action="@{/gainers}" th:object="${gainer}">
        <fieldset>
            <legend>Nowy beneficjent</legend>
            <label>Nazwa beneficjenta
                <input type="text" th:field="${gainer.gainer}" />
            </label>
            <label>Opis beneficjenta
                <input type="text" th:field="${gainer.description}" />
            </label>
        </fieldset>
        <p>
            <button type="submit">Dodaj</button>
            <button type="reset">Wyczyść</button>
        </p>
    </form>
    <div>
        <p>Beneficjenci</p>
        <ul>
            <li th:each="gainer : ${gainers}" th:text="${gainer.gainer}"></li>
        </ul>
    </div>
</main>
</body>
</html>