<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyApp</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <h1>MoneyApp - zapanuj nad swoim budżetem!</h1>

    <a th:if="${hash != null}" th:href="@{/budgetView/{hash}(hash=${hash})}">Ostatni budżet</a>
    <a th:href="@{/budgets}">Budżety</a>
    <a th:href="@{/transactions}">Transakcje</a>
    <a th:href="@{/payees}">Kontrahenci</a>
    <a th:href="@{/categories}">Kategorie</a>
    <a th:href="@{/accounts}">Konta</a>
<!--    TODO karta podliczająca wartość netto-->
<!--TODO karta podlcizająca utrzymanie auta-->
<!--TODO karta podlcizająca utrzymanie domu-->
<!--    TODO karta na bieżącą sytuację - aktualne stany kont itd-->
<!--    TODO - pokazanie płatności zapisanych jako cykliczne itd?-->

</main>
</body>
</html>