<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoneyApp</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.css">
</head>
<body>
<main>
    <h1>MoneyApp - zapanuj nad swoim budżetem!</h1>
    <form action="#" method="post" th:action="@{/}">
<!--        <fieldset>-->
<!--            <legend>Nowa kategoria</legend>-->
<!--            <label> Nazwa kategorii-->
<!--                <input type="text" />-->
<!--            </label>-->
<!--        </fieldset>-->

<!--        TODO potrzebny panel tworzenia nowegu budżetu na podstawie podanego miesiąca i roku-->
<!--        TODO przejście do listy budżetów?-->
<!--        TODO przejście do wybranego budżetu na dany miesiąc-->
<!--        TODO przyciski/menu/etc do przejścia do sekcji - transakcje wydatki itd-->

    </form>
</main>
</body>
</html>