<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pozycja budżetu</title>
</head>
<body>
<main>
    <!--/*@thymesVar id="transaction" type="com.moneyAppV5.transaction.dto.TransactionDTO"*/-->
    <!--/*@thymesVar id="position" type="com.moneyAppV5.budget.dto.BudgetPositionDTO"*/-->
    <!--/*@thymesVar id="budget" type="com.moneyAppV5.budget.dto.BudgetDTO"*/-->

    <p>
        <label>Budżet: </label>
<!--        TODO miesiąc i rok budżetu-->
        <label th:text="${budget.name}"></label>
    </p>
    <p>
        <label>Kategoria: </label>
<!--        TODO kategoria pozycji-->
        <a th:href="@{/categoryView/{hash}(hash=${position.category.hash})}"
           th:text="${position.category.category}"></a>
        <!--        TODO typ pozycji - dodać link jw-->
        <label th:text="${position.category.type}"></label>
    </p>
<!--    TODO statystyki jak we wszystkich - bieżący miesiąc kwaretał itd-->
    <div>
        <h3>Statyski:</h3>
        <label>Saldo:</label>
        <label>Ostatni miesiąc: </label>
        <label th:text="${actualMonthSum}"></label>
    </div>
    <div>
<!--        TODO lista transakcji w danej pozycji - tabelka-->
        <table>
            <tr>
                <td>Dzień</td><td>Konto</td><td>Kwota</td><td>Sklep</td><td>Dla kogo</td><td>Opis</td>
            </tr>
<!--            TODO sortowanie od najnowszej?-->
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.day}"></td>
                <td>
                    <a th:href="@{/accountView/{hash}(hash=${transaction.account.hash})}"
                       th:text="${transaction.account.name}"></a>
                </td>
                <td th:text="${transaction.amount}"></td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.isPaid.hash})}"
                       th:text="${transaction.isPaid.name}"></a>
                </td>
                <td>
                    <a th:href="@{/payeeView/{payeeHash}(payeeHash=${transaction.isPaid.hash})}"
                       th:text="${transaction.forWhom.name}"></a>
                </td>
                <td th:text="${transaction.description}"></td>
            </tr>
        </table>
    </div>
</main>

</body>
</html>